<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'vital.svg' %}" alt="vital" />
        <span class="headerTitle">탐색</span>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>