{% extends 'base.html' %}

{% block title %}메인 페이지{% endblock %}

{% block content %}
<section id="hot-issues">
    <span class="sectionTitle">#요즘 핫 이슈</span>
    <div class="petition-list">
        {% for petition in hot_issues %}
            <div class="petition" onclick="location.href='{% url 'detail_page' petition.id %}'">
                <div class="box"></div>
                <div class="petitionBox">
                    <span class="population">{{ petition.current_signatures }}명 달성!</span>
                    <span class="title">{{ petition.title }}</span>
                    <span class="intro">{{ petition.description }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<div class="spacer"></div>
<section id="hot-issues">
    <span class="sectionTitle">#내 주변 서명</span>
    <div class="petition-list">
        {% for petition in hot_issues %}
            <div class="petition" onclick="location.href='{% url 'detail_page' petition.id %}'">
                <div class="box"></div>
                <div class="petitionBox">
                    <span class="population">{{ petition.current_signatures }}명 달성!</span>
                    <span class="title">{{ petition.title }}</span>
                    <span class="intro">{{ petition.description }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}